h1, h2  {
  font-family: "Lucida Console", "Courier New", monospace;

}

p {
  font-family: monospace;
  font-size: 150%;
  text-indent: 20px;
  margin-left: auto;
  text-align: center;
}

body {
  /* background-color: lightblue; */
  /* background-color: black; */
  background-image: /* url(https://cdn.discordapp.com/attachments/230200713551020034/1048934685163651133/Background_TV_Morgan.png), */
  /* url(https://cdn.discordapp.com/attachments/230200713551020034/1048938821590462494/Background_Floor_Morgan1.png), */
  url(https://cdn.discordapp.com/attachments/230200713551020034/1048763218891386981/Background_Morgan.png);
  background-repeat: repeat-y;
  background-size: 100%;
  /* background-position: left bottom; */
  /* background-color: lightblue; */
}

/* Roy Avatar */
#roy {
  width: 25%;
  position: relative;
  top: auto;
  float: right;
}

#tv {
  z-index: -1;
}

/* Text Bubble Speech*/
.box {
  width: 95%;
  margin: 5px auto;
  background: white;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: 900;
  opacity: 80%;
  color: #fff;
  font-family: arial;
  position:relative;
}
/* The triangle part of the Speech Bubble - SCRAPPED*/
/*.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 350px;
  bottom: -19px;
} */

/* I believe this is the button */
#outputBlock {
  border: 2px solid dodgerblue;
  padding: 5px 5px;
  margin: 10px 3px;
}

#colors {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  overflow: auto;
  text-align: center;
}

/* Animated Button - Pressed Effect*/
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  float: left;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonbg {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#colors li {
  z-index: 1;
  padding: 8px 16px;
  border-bottom: 1px solid black;
}

#colors li:last-child {
  border-bottom: none;
}

#colorButton {

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666 */
  tranform: translateY(4px);
}


/* Pop-up red box*/
.popupSpan {
  position: 100px 100px;
  float: left;
  margin-left: 35px;
  margin-top: 5px;
  font-size: 25px;
  font-family: monospace;
  border: 3px solid darkred;
  border-radius: 15px;
  background-color: tomato;
  height: 30px;
  width: 500px;
}

.popupId {
  border: 3px solid tomato;
  padding: 15px 20px;
}

.bodyParagraphs {
  margin: 45px 66px;
  /* border: 3px solid tomato; */
  padding: 15px 20px;
  position: relative;
}

.bodyParagraphs h2 {
  margin: 15px 0px;
}


.clearfix {
  border: 2px solid gold;
  padding: 5px 5px;
  margin: 10px 3px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Slow text reveal for Roy's speech  (Doesnt work yet sadge)*/
#quote {
  color: black;
  animation: reveal;
  animation-iteration-count: 0.5s;
}
@keyframes transition {
        0% {transition:
            width: 0px;
            height: 0px;
        }
        30% {transition:
            width: 10px;
            height: 10px;
        }
        60% {transition:
            width: 50px;
            height: 80px;
        }
    }

/* Roy shakes when mouse cursors over him - He do be jiggling */
img:hover#roy{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

* {
	scrollbar-color: #8185b8e8 #000000ff !important;
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.popupDiv{
  visibility: hidden;
  font-size: 20px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 10;
}

.popupDiv .show{
  visibility: visible;
  animation: fadeIn 1s;
}

.container{
    width: 300px;
    height: 200px;
    position: relative;
    margin: 20px;
}
.tv_box{
    width: 120%;
    position: absolute;
    top: 0;
    left: -32px;
}
.color_list{
    z-index: 2;
    margin: 20%;
    top: 49%;
    position: absolute;
    height: 89%;
    width: 84%;
    left: 9%;
}
.rectangle {
  height: 2000px;
  width: 3000px;
  background-color: #555;
  z-index: -10;
  position: relative;
  margin-left: -300px;

}

/* #ground {
    z-index: -10;
} */
